<div class="card" fxLayout="column" fxLayoutAlign="space-around">
  <div fxFlexAlign="center">
    <h1>Hello Grégory ! La communauté t'écoute.</h1>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-around center">
    <button class="btn" fxLayout="column" fxLayoutAlign="space-around center">
      <img src="../../assets/information.png" width="50px" height="50px" />
      <h2>Besoin d'aide !</h2>
    </button>
    <button class="btn" fxLayout="column" fxLayoutAlign="space-around center">
      <img src="../../assets/speech-bubble.png" width="50px" height="50px" />
      <h2>Partager un truc intéressant</h2>
    </button>
  </div>
</div>
